body {
  font-family: sans-serif;
}

.videoPlayer {
  max-width: 700px;
  position: relative;
}

.videoPlayer__controls {
  opacity: 0;
  position: absolute;
  color: white;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}

.videoPlayer:hover .videoPlayer__controls {
  opacity: 1;
  transition: opacity 0.4s linear;
}

.videoPlayer__progressBar {
  height: 3px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 7px;
}

.videoPlayer__currentBar {
  height: 3px;
  width: 1px;
  background-color: rgba(233, 206, 83, 0.8);
}

span {
  margin: 0 6px;
}

i {
  font-size: 13px;
  cursor: pointer;
}
